@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quattrocento&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(298deg, rgba(235,94,40,1) 0%, rgba(204,197,185,1) 60%, rgba(255,252,242,1) 100%);
}

p {
    font-family: 'Quattrocento', serif;
    color: #14213d;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: #14213d;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
img {
    max-width: 100%;
}



/* mobile */

.index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 150px;
}

.navbar {
    display: grid;
    position: sticky;
    top: 0;
    background-color: rgba(255,252,242,1);
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 1;
    height: 100px;
}

.logo {
    place-self: center;
    grid-column: 1;
    font-size: 13px;
    letter-spacing: .3em;
    font-weight: 300;
    margin-left: 25px;
}

.linkedin-icon {
    width: 25px;
    align-self: center;
    justify-self: end;
    grid-row: 1;
    grid-column: 3;
    margin-right: 25px;
}

.menus {
    grid-column: 2 / 4;
    place-self: center;
    margin-right: 0px;
    grid-row: 1;
}
.menus a {
    font-size: 16px;
    letter-spacing: .1em;
    font-family: 'Oswald', sans-serif;
    color: #14213d;
}

.artist {
    margin-right: 25px;
}

.about {
    display: grid;
    justify-items: center;
    grid-column: 1 / 4;
    grid-row: 3;
}
.about img {
    width: 70%;
    border: 2px solid #14213d;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, .2);
}
.about p {
    font-size: 18px;
    width: 70%;
    line-height: 1.7em;
    letter-spacing: .1em;
}

.intro {
    justify-self: center;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 2;
}

.intro h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
}
.intro h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}
.intro h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}

.connectBtn {
    margin-top: 30px;
    cursor: pointer;
    width: 140px;
    height: 50px;
    color: #eb5e28;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1em;
    background-color: rgba( 20, 33, 61, 0);
    box-shadow: .5px 1px 5px rgba( 20, 33, 61, .2);
    border: none;
    border-radius: 5px;
    transition: box-shadow .3s, border-radius .3s, color .3s ease-in-out;
}

.skills-1 {
    justify-self: center;
    align-self: center;
    grid-column: 1 / 4;
    grid-row: 4;
    text-align: center;
}
.skills-1 h2, .skills-2 h2 {
    font-size: 35px;
}
.skills-1 h3, .skills-2 h3 {
    font-size: 25px;
    font-weight: 300;
}

.skills-2 {
    justify-self: center;
    align-self: center;
    grid-column: 1 / 4;
    grid-row: 5;
    text-align: center;
}

footer {
    justify-self: center;
    align-self: end;
    grid-column: 1 / 4;
    grid-row: 6;
}
footer h3 {
    font-size: 12px;
    font-weight: 300;
}

/* Student page mobile */

.student-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
}

.semBtn {
    cursor: pointer;
    background-color: rgba( 20, 33, 61, 0);
    box-shadow: .5px 1px 10px rgba( 20, 33, 61, .1);
    color: #eb5e28;
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

.sem3, .sem2, .sem1 {
    padding: 10px;
    grid-column: 1 / 4;
}


.footer-student {
    grid-column: 1 / 4;
}

/*desktop */

@media (min-width: 992px) {

.index-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .2fr 1fr 1fr .2fr;
    row-gap: 30px;
}


.navbar {
    background-color: transparent;
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    grid-row: 1;
    height: 100px;
}

.logo {
    justify-self: start;
    grid-column: 2;
    font-size: 15px;
    letter-spacing: .3em;
    font-weight: 300;  
}

.menus {
    grid-column: 10 / 12;
}
.menus a {
    font-size: 16px;
    letter-spacing: .1em;
    font-family: 'Oswald', sans-serif;
    color: #14213d;
    transition: color .2s ease-in-out;
}
.menus a:hover {
    color: #F4E9E3;
}

.artist {
    margin-right: 50px;
}

.about {
    place-self: end;
    grid-column: 9 / 12;
    grid-row: 2 / 4;
    box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
    padding: 20px;
    transition: box-shadow .5s ease-in-out;
    border-radius: 10px;
    width: 300px;
}
.about:hover {
    box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
}

.about img {
    width: 65%;
    border: 2px solid #14213d;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, .2);
}
.about p {
    font-weight: 400;
    font-size: 15px;
    width: 250px;
    line-height: 1.5em;
    letter-spacing: .1em;
    margin-top: 20px;
}

.connectBtn {
    margin-top: 30px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    color: #eb5e28;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1em;
    background-color: rgba( 20, 33, 61, 0);
    box-shadow: .5px 1px 5px rgba( 20, 33, 61, .2);
    border: none;
    border-radius: 5px;
    transition: box-shadow .3s, border-radius .3s, color .3s ease-in-out;
}
.connectBtn:hover {
    box-shadow: inset .5px 1px 5px rgba( 20, 33, 61, .3);
    border-radius: 25px;
    color: #fffcf2;
}

.intro {
    box-shadow: .1px 5px 10px rgba( 20, 33, 61, .1);
    align-self: start;
    justify-self: start;
    padding: 20px;
    grid-column: 2 / 7;
    grid-row: 2;
    letter-spacing: 1em;
    width: 650px;
    transition: box-shadow .5s ease-in-out;
}
.intro:hover {
    box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
}

.intro h1 {
    font-size: 50px;
    font-weight: 600;
}
.intro h2 {
    font-size: 30px;
    font-weight: 400;
}
.intro h3 {
    font-size: 20px;
    font-weight: 400;
}

.skills-1 {
    box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
    padding: 20px;
    justify-self: start;
    align-self: end;
    grid-column: 2 / 4;
    grid-row: 3;
    text-align: center;
    letter-spacing: .2em;
    transition: box-shadow .5s ease-in-out;
    border-radius: 10px;
    width: 250px;
}
.skills-1:hover {
    box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
}
.skills-1 h2, .skills-2 h2 {
    font-size: 18px;
}
.skills-1 h3, .skills-2 h3 {
    font-size: 15px;
    font-weight: 400;
}

.skills-2 {
    box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
    padding: 25px;
    justify-self: end;
    align-self: end;
    grid-column: 5 / 7;
    grid-row: 3;
    text-align: center;
    letter-spacing: .2em;
    transition: box-shadow .5s ease-in-out;
    width: 250px;
    border-radius: 10px;
}
.skills-2:hover {
    box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
}

footer {
    align-self: center;
    justify-self: start;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}
footer h3 {
    font-size: 12px;
    font-weight: 300;
}

/*student page */

.student-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .38fr 1fr 1fr 1fr;
    row-gap: 85px;
    column-gap: 30px;
}


.semBtn {
    width: 350px;
    height: 140px;
    font-size: 30px;
    font-weight: 600;
    transition: box-shadow .3s, color .3s, border-radius .3s ease-in-out;
}
.semBtn:hover {
    border-radius: 20px;
    color: #F4E9E3;
    box-shadow: inset 1px 2px 10px rgba( 20, 33, 61, .2);
}

.sem3 {
    grid-column: 4 / 5;
    grid-row: 3;
    padding: 0;
}
.sem2 {
    place-self: center;
    grid-column: 6 / 8;
    grid-row: 3;
    padding: 0;
}
.sem1 {
    grid-column: 9 / 10;
    grid-row: 3;
    padding: 0;
}

.footer-student {
    grid-row: 6;
    align-self: end;
}

}


@media (min-width: 1200px) {
    .index-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: .2fr .73fr .85fr;
        row-gap: 30px;
        column-gap: 30px;
    }
    
    
    .navbar {
        background-color: transparent;
        display: grid;
        align-items: center;
        justify-items: end;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 1 / 13;
        grid-row: 1;
        height: 100px;
    }

    .logo {
        grid-column: 2 / 3;
        font-size: 20px;
        letter-spacing: .3em;
        padding-left: 5px;
        font-weight: 300;
    }

    .linkedin-icon {
        cursor: pointer;
        width: 30px;
        grid-column: 9;
        align-self: center;
        justify-self: start;
        transition: width .3s ease-in-out;
    }
    .linkedin-icon:hover {
        width: 35px;
    }

    .menus {
        grid-column: 10 / 12;
    }
    .menus a {
        font-size: 20px;
        letter-spacing: .1em;
        font-family: 'Oswald', sans-serif;
        color: #14213d;
        transition: color .2s ease-in-out;
    }
    .menus a:hover {
        color: #F4E9E3;
    }

    .artist {
        margin-right: 50px;
    }


    .about {
        place-self: start;
        place-content: center;
        grid-column: 9 / 12;
        grid-row: 2 / 4;
        box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
        transition: box-shadow .5s ease-in-out;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .about:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }

    .about img {
        width: 50%;
        border: 2px solid #14213d;
        margin-bottom: 0;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba( 0, 0, 0, .2);
    }
    .about p {
        font-weight: 400;
        font-size: 14px;
        width: 80%;
        line-height: 1.5em;
        letter-spacing: .1em;
        margin-top: 30px;
    }
    
    .connectBtn {
        margin-top: 10px;
        cursor: pointer;
        width: 145px;
        height: 48px;
        color: #eb5e28;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .1em;
        background-color: rgba( 20, 33, 61, 0);
        box-shadow: .5px 1px 5px rgba( 20, 33, 61, .2);
        border: none;
        border-radius: 5px;
        transition: box-shadow .3s, border-radius .3s, color .3s ease-in-out;
    }
    .connectBtn:hover {
        box-shadow: inset .5px 1px 5px rgba( 20, 33, 61, .3);
        border-radius: 25px;
        color: #fffcf2;
    }
    
    .intro {
        box-shadow: .1px 5px 10px rgba( 20, 33, 61, .1);
        padding: 20px;
        align-self: start;
        justify-self: start;
        grid-column: 2 / 9;
        grid-row: 2;
        letter-spacing: 1em;
        transition: box-shadow .5s ease-in-out;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .intro:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }
    
    .intro h1 {
        font-size: 60px;
        font-weight: 600;
    }
    .intro h2 {
        font-size: 40px;
        font-weight: 400;
    }
    .intro h3 {
        font-size: 20px;
        font-weight: 400;
    }
    
    .skills-1 {
        display: grid;
        place-content: center;
        box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
        padding: 20px;
        align-self: start;
        justify-self: start;
        grid-column: 2 / 7;
        grid-row: 3;
        text-align: center;
        letter-spacing: .2em;
        transition: box-shadow .5s ease-in-out;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .skills-1:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }

    .skills-2 {
        display: grid;
        place-content: center;
        box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
        padding: 20px;
        justify-self: end;
        align-self: start;
        grid-column: 7 / 9;
        grid-row: 3;
        text-align: center;
        letter-spacing: .2em;
        transition: box-shadow .5s ease-in-out;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .skills-2:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }


    .skills-1 h2, .skills-2 h2 {
        font-size: 25px;
    }
    .skills-1 h3, .skills-2 h3 {
        font-size: 18px;
        font-weight: 300;
    }
    
    footer {
        align-self: end;
        justify-self: start;
        grid-column: 2 / 4;
        grid-row: 4;
    }
    footer h3 {
        font-size: 12px;
        font-weight: 300;
    }
    
    /*student page */
    
    .student-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: .38fr 1fr 1fr 1fr;
        column-gap: 50px;
        row-gap: 45px;
    }

    
    .semBtn {
        width: 300px;
        height: 125px;
        font-size: 25px;
        font-weight: 600;
        transition: box-shadow .3s, color .3s, border-radius .3s ease-in-out;
    }
    .semBtn:hover {
        border-radius: 20px;
        color: #F4E9E3;
        box-shadow: inset 1px 2px 10px rgba( 20, 33, 61, .2);
    }
    
    .sem3 {
        grid-column: 4 / 5;
        grid-row: 3;
        padding: 0;
    }
    .sem2 {
        place-self: center;
        grid-column: 6 / 8;
        grid-row: 3;
        padding: 0;
    }
    .sem1 {
        grid-column: 9 / 10;
        grid-row: 3;
        padding: 0;
    }

    .footer-student {
        grid-row: 6;
        grid-column: 3 / 5;
        align-self: end;
    }
    
    
}

@media (min-width: 1920px) {
    .index-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: .2fr 1fr 1.115fr;
        row-gap: 30px;
        column-gap: 30px;
    }
    
    
    .navbar {
        background-color: transparent;
        display: grid;
        align-items: center;
        justify-items: end;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 1 / 13;
        grid-row: 1;
        height: 100px;
    }

    .logo {
        grid-column: 2 / 3;
        font-size: 20px;
        letter-spacing: .3em;
        padding-left: 5px;
        font-weight: 300;
    }

    .linkedin-icon {
        cursor: pointer;
        width: 30px;
        grid-column: 9;
        align-self: center;
        justify-self: start;
        transition: width .3s ease-in-out;
    }
    .linkedin-icon:hover {
        width: 35px;
    }

    .menus {
        grid-column: 10 / 12;
    }
    .menus a {
        font-size: 20px;
        letter-spacing: .1em;
        font-family: 'Oswald', sans-serif;
        color: #14213d;
        transition: color .2s ease-in-out;
    }
    .menus a:hover {
        color: #F4E9E3;
    }

    .artist {
        margin-right: 50px;
    }


    .about {
        place-self: start;
        place-content: center;
        grid-column: 9 / 12;
        grid-row: 2 / 4;
        box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
        transition: box-shadow .5s ease-in-out;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 15px;
    }
    .about:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }

    .about img {
        width: 80%;
        border: 2px solid #14213d;
        margin-bottom: 0;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba( 0, 0, 0, .2);
    }
    .about p {
        font-weight: 400;
        font-size: 15.8px;
        width: 80%;
        line-height: 1.5em;
        letter-spacing: .1em;
        margin-top: 30px;
    }
    
    .connectBtn {
        margin-top: 10px;
        cursor: pointer;
        width: 145px;
        height: 48px;
        color: #eb5e28;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .1em;
        background-color: rgba( 20, 33, 61, 0);
        box-shadow: .5px 1px 5px rgba( 20, 33, 61, .2);
        border: none;
        border-radius: 5px;
        transition: box-shadow .3s, border-radius .3s, color .3s ease-in-out;
    }
    .connectBtn:hover {
        box-shadow: inset .5px 1px 5px rgba( 20, 33, 61, .3);
        border-radius: 25px;
        color: #fffcf2;
    }
    
    .intro {
        box-shadow: .1px 5px 10px rgba( 20, 33, 61, .1);
        padding: 25px;
        align-self: start;
        justify-self: start;
        grid-column: 2 / 9;
        grid-row: 2;
        letter-spacing: 1em;
        transition: box-shadow .5s ease-in-out;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .intro:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }
    
    .intro h1 {
        font-size: 80px;
        font-weight: 600;
    }
    .intro h2 {
        font-size: 60px;
        font-weight: 400;
    }
    .intro h3 {
        font-size: 30px;
        font-weight: 400;
    }
    
    .skills-1 {
        display: grid;
        place-content: center;
        box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
        padding: 25px;
        align-self: start;
        justify-self: start;
        grid-column: 2 / 7;
        grid-row: 3;
        text-align: center;
        letter-spacing: .2em;
        transition: box-shadow .5s ease-in-out;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .skills-1:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }

    .skills-2 {
        display: grid;
        place-content: center;
        box-shadow: .5px 5px 10px rgba( 20, 33, 61, .1);
        padding: 25px;
        justify-self: end;
        align-self: start;
        grid-column: 7 / 9;
        grid-row: 3;
        text-align: center;
        letter-spacing: .2em;
        transition: box-shadow .5s ease-in-out;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .skills-2:hover {
        box-shadow: 8px 5px 20px rgba( 20, 33, 61, .2);
    }


    .skills-1 h2, .skills-2 h2 {
        font-size: 35px;
    }
    .skills-1 h3, .skills-2 h3 {
        font-size: 25px;
        font-weight: 300;
    }
    
    footer {
        align-self: end;
        justify-self: start;
        grid-column: 2 / 4;
        grid-row: 4;
    }
    footer h3 {
        font-size: 12px;
        font-weight: 300;
    }
    
    /*student page */
    
    .student-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: .38fr 1fr 1fr 1fr;
        row-gap: 85px;
        column-gap: 30px;
    }

    
    .semBtn {
        width: 350px;
        height: 140px;
        font-size: 30px;
        font-weight: 600;
        transition: box-shadow .3s, color .3s, border-radius .3s ease-in-out;
    }
    .semBtn:hover {
        border-radius: 20px;
        color: #F4E9E3;
        box-shadow: inset 1px 2px 10px rgba( 20, 33, 61, .2);
    }
    
    .sem3 {
        grid-column: 4 / 5;
        grid-row: 3;
        padding: 0;
    }
    .sem2 {
        place-self: center;
        grid-column: 6 / 8;
        grid-row: 3;
        padding: 0;
    }
    .sem1 {
        grid-column: 9 / 10;
        grid-row: 3;
        padding: 0;
    }

    .footer-student {
        grid-column: 2 / 4;
        place-self: center;
        grid-row: 6;
        
    }
    
    
}
